* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background: url("./assets/mainBG.png");

  position: relative;
  min-height: 100vh;
  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
}

body::before {
  content: "";

  position: absolute;

  inset: 0;

  background-color: rgba(2, 6, 23, 0.75);
}

body > * {
  position: relative;

  z-index: 1;
}
